<a href="https://colab.research.google.com/github/lindseyvanosky/Feature-Engineering-Exercise/blob/main/LV_Feature_Engineering_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Feature Engineering Exercise
- Lindsey Vanosky 
- 07.29.22

#Import, Upload & Inspect

In [ ]:
import pandas as pd
import numpy as np


filename = "/content/drive/MyDrive/Coding Dojo/03 Stack 3: Advanced Machine Learning/Data Sets/bikeshare_train - bikeshare_train.csv"
df = pd.read_csv(filename)

In [ ]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
df = df.drop(columns = ["casual", "registered"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: float64(3), int64(6), object(1)
memory usage: 850.6+ KB

In [ ]:
df.duplicated().sum()

0

#Transforming Date/Time

In [ ]:
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

###Name of the Month

In [ ]:
df["month (name)"] = df["datetime"].dt.month_name()
df["month (name)"].value_counts()

May          912
June         912
July         912
August       912
December     912
October      911
November     911
April        909
September    909
February     901
March        901
January      884
Name: month (name), dtype: int64

###Name of the Day of the Week

In [ ]:
df["day of the week (name)"] = df["datetime"].dt.day_name()
df["day of the week (name)"].value_counts()

Saturday     1584
Sunday       1579
Thursday     1553
Monday       1551
Wednesday    1551
Tuesday      1539
Friday       1529
Name: day of the week (name), dtype: int64

###Hour of the Day

In [ ]:
df["hour of day"] = df["datetime"].dt.hour
df["hour of day"].value_counts()

12    456
13    456
22    456
21    456
20    456
19    456
18    456
17    456
16    456
15    456
14    456
23    456
11    455
10    455
9     455
8     455
7     455
6     455
0     455
1     454
5     452
2     448
4     442
3     433
Name: hour of day, dtype: int64

###Date/Time Cleanup

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datetime                10886 non-null  datetime64[ns]
 1   season                  10886 non-null  int64
 2   holiday                 10886 non-null  int64
 3   workingday              10886 non-null  int64
 4   weather                 10886 non-null  int64
 5   temp                    10886 non-null  float64
 6   atemp                   10886 non-null  float64
 7   humidity                10886 non-null  int64
 8   windspeed               10886 non-null  float64
 9   count                   10886 non-null  int64
 10  month (name)            10886 non-null  object
 11  day of the week (name)  10886 non-null  object
 12  hour of day             10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 1.1+ MB

In [ ]:
#Changing hour dtype to object
df["hour of day"] = df["hour of day"].astype("object")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datetime                10886 non-null  datetime64[ns]
 1   season                  10886 non-null  int64
 2   holiday                 10886 non-null  int64
 3   workingday              10886 non-null  int64
 4   weather                 10886 non-null  int64
 5   temp                    10886 non-null  float64
 6   atemp                   10886 non-null  float64
 7   humidity                10886 non-null  int64
 8   windspeed               10886 non-null  float64
 9   count                   10886 non-null  int64
 10  month (name)            10886 non-null  object
 11  day of the week (name)  10886 non-null  object
 12  hour of day             10886 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(3)
memory usage: 1.1+ MB

In [ ]:
#Dropping redundant columns
df = df.drop(columns = ["datetime", "season"])
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of the week (name),hour of day
0,0,0,1,9.84,14.395,81,0.0,16,January,Saturday,0
1,0,0,1,9.02,13.635,80,0.0,40,January,Saturday,1
2,0,0,1,9.02,13.635,80,0.0,32,January,Saturday,2
3,0,0,1,9.84,14.395,75,0.0,13,January,Saturday,3
4,0,0,1,9.84,14.395,75,0.0,1,January,Saturday,4

#Transforming Temp

###Celcius to Fahrenheit

In [ ]:
def c_to_f(number):
  return (number * 1.8) + 32

In [ ]:
df["temp"] = df["temp"].apply(c_to_f).round(2)
df["temp"].value_counts()

58.57     467
79.23     453
83.66     427
57.09     413
65.95     406
71.85     403
77.76     403
61.52     400
73.33     395
80.71     394
76.28     390
54.14     385
70.38     362
63.00     356
55.62     356
85.14     353
51.19     332
64.47     328
68.90     327
86.61     299
49.71     294
60.04     255
48.24     248
88.09     242
46.76     229
82.18     224
74.80     203
91.04     202
52.66     181
67.42     170
43.81     146
92.52     130
42.33     107
45.28     106
89.56      98
93.99      80
95.47      76
40.86      60
98.42      46
39.38      44
99.90      34
96.94      23
37.90      11
33.48       7
101.37      7
102.85      6
36.43       5
34.95       2
105.80      1
Name: temp, dtype: int64

In [ ]:
df["atemp"] = df["atemp"].apply(c_to_f).round(2)
df["atemp"].value_counts()

87.91     671
78.37     423
72.90     406
68.82     400
79.73     395
62.00     381
77.00     365
92.00     364
70.18     356
86.55     350
59.27     338
71.55     328
75.63     327
63.36     314
89.28     299
94.73     283
81.10     282
90.64     272
52.46     271
57.91     269
85.18     257
67.45     255
60.64     254
55.18     247
56.54     237
93.36     224
53.82     195
83.82     175
74.27     170
51.09     166
96.09     159
49.73     127
64.72     123
97.46     123
98.82     118
48.36     107
100.18     97
82.45      80
45.64      75
101.54     74
42.91      73
102.91     67
44.28      63
47.00      63
66.09      45
104.27     45
105.64     39
41.55      25
108.36     24
107.00     23
38.82      16
40.18      11
37.45       7
111.09      7
36.10       7
109.72      7
112.45      3
33.37       2
34.73       1
113.82      1
Name: atemp, dtype: int64

###Temp Variance

In [ ]:
df["temp variance"] = df["temp"] - df["atemp"]
df["temp variance"].value_counts()

-6.95     406
-6.52     403
-7.30     400
-6.40     395
-6.62     362
         ...
 0.45       1
 0.22       1
-4.37       1
-3.97       1
 31.32      1
Name: temp variance, Length: 252, dtype: int64

In [ ]:
#dropping atemp
df = df.drop(columns = ["atemp"])

#Final DF

In [ ]:
df.head()

,holiday,workingday,weather,temp,humidity,windspeed,count,month (name),day of the week (name),hour of day,temp variance
0,0,0,1,49.71,81,0.0,16,January,Saturday,0,-8.2
1,0,0,1,48.24,80,0.0,40,January,Saturday,1,-8.3
2,0,0,1,48.24,80,0.0,32,January,Saturday,2,-8.3
3,0,0,1,49.71,75,0.0,13,January,Saturday,3,-8.2
4,0,0,1,49.71,75,0.0,1,January,Saturday,4,-8.2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   holiday                 10886 non-null  int64
 1   workingday              10886 non-null  int64
 2   weather                 10886 non-null  int64
 3   temp                    10886 non-null  float64
 4   humidity                10886 non-null  int64
 5   windspeed               10886 non-null  float64
 6   count                   10886 non-null  int64
 7   month (name)            10886 non-null  object
 8   day of the week (name)  10886 non-null  object
 9   hour of day             10886 non-null  object
 10  temp variance           10886 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 935.6+ KB